<%= render PageWrappers::UserComponent.new do %>
  <div class="grid lg:grid-cols-2 gap-16">
    <div>
      <h1 class="mb-8">New access token</h1>
      <section class="inline-block p-4 bg-white rounded border border-stone-200 w-full">
        <%= form_with model: @access_token, url: @tokenable.is_a?(Company) ? company_access_tokens_path(@tokenable.uuid) : repository_access_tokens_path(@tokenable.uuid), method: :post, class: 'form-block inline-block w-full' do |form| %>
          <div class="form-field w-full">
            <%= form.label :value, 'Value', class: 'form-label' %>
            <%= form.text_field :value, required: true, placeholder: "github_pat_****_******", class: 'form-value w-full' %>
          </div>
          <%= form.submit 'Save access token', class: 'btn-primary' %>
        <% end %>
      </section>
    </div>
    <div>
      <h1 class="mb-8">Permissions for access token</h1>
      <p class="mb-4">For fetching pull requests data from Github your company or repository must have attached Personal Access Token (PAT).</p>
      <p class="mb-2">For creating this PAT you need:</p>
      <ul>
        <li>visit <a href="https://github.com/settings/personal-access-tokens/new" target="_blank" rel="noopener noreferrer" class="simple-link">Github token generating page</a>, or <a href="https://gitlab.com/-/profile/personal_access_tokens" target="_blank" rel="noopener noreferrer" class="simple-link">Gitlab token generating page</a></li>
        <li>set token name and expiration time,</li>
        <li>in Repository access area - select for which repositories you want to create token,</li>
        <p class="mt-4">If you create access token for repository - select only 1 repository for your PAT.</p>
        <p class="mb-4">If you create access token for company - you can select many repositories, all repositories of this company will use the same access token.</p>
        <li>select required repository permissions, they must be only <strong class="text-red-600">READ-ONLY</strong> for <strong class="text-red-600">Pull requests</strong>,</li>
        <%= image_tag 'permissions.webp', width: 616, alt: 'permissions', class: 'my-4' %>
        <li>click Generate token and then you could copy it.</li>
      </ul>
    </div>
  </div>
<% end %>
