<div class="grid lg:grid-cols-2 gap-8 mb-8">
  <div>
    <div class="form-field">
      <%= form.label :fetch_period, 'Fetch period (days)', class: 'form-label' %>
      <%= form.text_field :fetch_period, placeholder: Insight::FETCH_DAYS_PERIOD, class: 'form-value' %>
    </div>
  </div>
  <div>
    <p>You can set fetch period for collecting data of pull requests. For regular accounts - maximum <%= Insight::FETCH_DAYS_PERIOD %> days, for premium - <%= Insight::MAXIMUM_FETCH_DAYS_PERIOD %> days.</p>
    <p class="mt-2">By default fetch period is <%= Insight::FETCH_DAYS_PERIOD %> days. So if <%= Insight::FETCH_DAYS_PERIOD %> is enough for you - you can skip this attribute.</p>
  </div>
</div>
