<div class="py-6 px-8">
  <div class="grid lg:grid-cols-2 gap-8 mb-4">
    <div>
      <%=
        render Views::Shared::CheckBoxComponent.new(
          form: form,
          label: 'Use work time',
          field: :use_work_time,
          checked: @company.with_work_time?
        )
      %>
      <div>
        <div class="flex flex-row mt-4">
          <div class="flex-1 form-field inline-block mr-8">
            <%= form.label :work_start_time, 'Work start time', class: 'form-label' %>
            <%= form.time_select :work_start_time, class: 'form-value', minute_step: 15 %>
          </div>
          <div class="flex-1 form-field inline-block mr-8">
            <%= form.label :work_end_time, 'Work end time', class: 'form-label' %>
            <%= form.time_select :work_end_time, class: 'form-value', minute_step: 15 %>
          </div>
          <div class="flex-1 form-field inline-block mr-8">
            <%= form.label :work_time_zone, 'Work time zone', class: 'form-label' %>
            <%= form.time_zone_select :work_time_zone, nil, class: 'form-value', default: 'UTC' %>
          </div>
        </div>
        <div>
          <%=
            render Views::Shared::CheckBoxComponent.new(
              form: form,
              label: 'Ignore users work time',
              field: :ignore_users_work_time,
              checked: @company.configuration.ignore_users_work_time
            )
          %>
        </div>
      </div>
    </div>
    <div>
      <p>If this configuration enabled then you can select working time of your company. This allows better calculations of average review time, because it will not count not-working time and weekends.</p>
    </div>
  </div>
</div>
