<%= render PageWrappers::PageComponent.new do %>
  <h1>Edit configuration</h1>
  <section class="list-form">
    <%= form_with model: @company.configuration, url: company_configuration_path(@company.uuid), method: :patch do |form| %>
      <%= form.label :use_work_time, 'Use work time', class: 'form-label' %>
      <%= form.check_box :use_work_time, checked: @company.with_work_time? %>
      <div id="work-times">
        <div class="form-field">
          <%= form.label :work_start_time, 'Work start time (UTC)', class: 'form-label' %>
          <%= form.time_select :work_start_time, class: 'form-value', minute_step: 15 %>
        </div>
        <div class="form-field">
          <%= form.label :work_end_time, 'Work end time (UTC)', class: 'form-label' %>
          <%= form.time_select :work_end_time, class: 'form-value', minute_step: 15 %>
        </div>
      </div>
      <%= form.submit 'Update configuration', class: 'button' %>
    <% end %>
  </section>
<% end %>
