<%= render PageWrappers::PageComponent.new do %>
  <h1>Edit configuration</h1>
  <section id="configuration-form">
    <%= form_with model: @company.configuration, url: company_configuration_path(@company.uuid), method: :patch do |form| %>
      <div class="form-block">
        <h2>Work time</h2>
        <div class="main-container">
          <div class="half-container">
            <%= form.label :use_work_time, 'Use work time', class: 'form-label' %>
            <%= form.check_box :use_work_time, checked: @company.with_work_time? %>
            <div id="work-times">
              <div class="form-field">
                <%= form.label :work_start_time, 'Work start time (UTC)', class: 'form-label' %>
                <%= form.time_select :work_start_time, class: 'form-value', minute_step: 15 %>
              </div>
              <div class="form-field">
                <%= form.label :work_end_time, 'Work end time (UTC)', class: 'form-label' %>
                <%= form.time_select :work_end_time, class: 'form-value', minute_step: 15 %>
              </div>
            </div>
          </div>
          <div class="half-container">
            <p class="line-height">If this configuration enabled then you can select working time of your company. This allows better calculations of average review time, because it will not count not-working time and weekends.</p>
          </div>
        </div>
      </div>
      <div class="form-block">
        <h2>Insight attributes</h2>
        <div class="main-container">
          <div class="half-container">
            <% if @company.premium? %>
              <div id="insight-attributes">
                <%= form.fields :insight_fields do |fields| %>
                  <% JsonbColumns::Insight.attribute_names.each do |attribute_name| %>
                    <div class="insight-attribute">
                      <%= fields.check_box attribute_name.to_sym, checked: @company.configuration.insight_fields ? @company.configuration.insight_fields[attribute_name] : false %>
                      <%= fields.label attribute_name.to_sym, attribute_name.split('_').join(' ').capitalize, class: 'form-label' %>
                    </div>
                  <% end %>
                <% end %>
              </div>
              <div class="form-field">
                <%= form.label :main_attribute, 'Main attribute for sorting insights', class: 'form-label' %>
                <%= form.select :main_attribute, options_for_select(@main_attribute_values, @company.configuration.main_attribute), {}, { class: 'form-value' } %>
              </div>
            <% else %>
              <p>This configuration is available for premium accounts.</p>
            <% end %>
          </div>
          <div class="half-container">
            <p class="line-height">If this configuration enabled then you can select specific insight attributes to calculate and render such information at insight tables.</p>
          </div>
        </div>
      </div>
      <div class="form-block">
        <h2>Average type</h2>
        <div class="main-container">
          <div class="half-container">
            <div class="form-field">
              <%= form.select :average_type, options_for_select(@average_type_values, @company.configuration.average_type), {}, { class: 'form-value' } %>
            </div>
          </div>
          <div class="half-container">
            <p class="line-height">You can select what type of average calculation to use: arithmetic mean, geometric mean, median, etc.</p>
          </div>
        </div>
      </div>
      <div class="form-block">
        <h2>Insight ratios</h2>
        <div class="main-container">
          <div class="half-container">
            <% if @company.premium? %>
              <%= form.check_box :insight_ratio, checked: @company.configuration.insight_ratio %>
              <%= form.label :insight_ratio, 'Calculate insight ratios', class: 'form-label' %>
            <% else %>
              <p>This configuration is available for premium accounts.</p>
            <% end %>
          </div>
          <div class="half-container">
            <p class="line-height">If this configuration enabled then each insight data will have comparison with similar data for previous period. This allows to see dynamic of changes, not only absolute values.</p>
          </div>
        </div>
      </div>
      <div class="form-block">
        <h2>Slack integration</h2>
        <div class="main-container">
          <div class="half-container form-field">
            <% if @company.premium? %>
              <%= form.text_field :insights_webhook_url, class: 'form-value full', placeholder: 'https://hooks.slack.com/services/TTTTTTTTTTT/BBBBBBBBBBB/G00000000000000000000000' %>
            <% else %>
              <p>This configuration is available for premium accounts.</p>
            <% end %>
          </div>
          <div class="half-container">
            <p class="line-height">If this configuration enabled then you can set url of Slack webhook and notifications will be send to Slack</p>
          </div>
        </div>
      </div>
      <%= form.submit 'Update configuration', class: 'button' %>
    <% end %>
  </section>
<% end %>
