<%= render PageWrappers::PageComponent.new do %>
  <div class="list-title flex justify-between items-center">
    <h1>Companies</h1>
    <%= link_to 'Create company', new_company_path, class: 'button' %>
  </div>
  <section class="list">
    <% @companies.each do |company| %>
      <div class="list-element">
        <div class="list-element-header flex flex-col justify-between">
          <div>
            <h2><%= company.title %></h2>
            <p>
              Repositories count - <%= link_to company.repositories.size, repositories_path(company_id: company.uuid) %>
            </p>
            <p><%= link_to "Company's external link", "https://github.com/#{company.name}" %></p>
          </div>
          <div>
            <%= button_to 'Destroy company', company_path(company.uuid), class: 'button danger', method: :delete, onclick: "return confirm('Are you sure you wish to delete company?')" %>
          </div>
        </div>
        <div class="list-element-insights">
          <%= render Views::Shared::InsightsComponent.new(insightable: company) %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>
