<%= render PageWrappers::PageComponent.new do %>
  <div class="list-title flex justify-between items-center">
    <h1>Companies</h1>
    <%= link_to 'Create company', new_company_path, class: 'button' %>
  </div>
  <section class="list">
    <% @companies.each do |company| %>
      <div class="list-element form-block">
        <div class="list-element-header flex justify-between">
          <div>
            <h2><%= company.title %></h2>
            <p>
              Repositories count - <%= link_to company.repositories.size, repositories_path(company_id: company.uuid) %>
            </p>
          </div>
          <% if allowed_to?(:update?, company) %>
            <div class="insightable-actions">
              <%= link_to (company.access_token ? 'Refresh access token' : 'Add access token'), new_access_token_path(tokenable_uuid: company.uuid, tokenable_type: 'Company'), class: 'button small' %>

              <%= link_to 'Edit configuration', edit_company_configuration_path(company.uuid), class: 'button small' %>

              <%= button_to 'Destroy company', company_path(company.uuid), class: 'button danger small', method: :delete, onclick: "return confirm('Are you sure you wish to delete company?')" %>
            </div>
          <% end %>
        </div>
        <div class="list-element-insights">
          <%= render Views::Shared::InsightsComponent.new(insightable: company) %>
        </div>
      </div>
    <% end %>
    <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
  </section>
<% end %>
