<%= render PageWrappers::UserComponent.new do %>
  <h1 class="mb-8">New Company</h1>
  <section class="inline-block p-4 bg-white rounded shadow w-96">
    <%= form_with model: @company, url: companies_path, method: :post, class: 'form-block' do |form| %>
      <div class="form-field">
        <%= form.label :title, 'Title', class: 'form-label' %>
        <%= form.text_field :title, required: true, placeholder: "Company's title", class: 'form-value w-full' %>
      </div>
      <%= form.submit 'Create company', class: 'btn-primary' %>
    <% end %>
  </section>
<% end %>
