<%= render PageWrappers::UserComponent.new do %>
  <h1>New Company</h1>
  <section class="list-form">
    <%= form_with model: @company, url: companies_path, method: :post, class: 'form-block' do |form| %>
      <div class="form-field">
        <%= form.label :title, 'Title', class: 'form-label' %>
        <%= form.text_field :title, required: true, placeholder: "Company's title", class: 'form-value' %>
      </div>
      <%= form.submit 'Create company', class: 'btn-primary' %>
    <% end %>
  </section>
<% end %>
