<%= render PageWrappers::PageComponent.new do %>
  <div class="list-title flex justify-between items-center">
    <h1>Repositories</h1>
    <% if allowed_to?(:create_repository?, Current.user) %>
      <%= link_to 'Create repository', new_repository_path, class: 'button' %>
    <% end %>
  </div>
  <section class="list">
    <% @repositories.each do |repository| %>
      <div class="list-element form-block">
        <div class="list-element-header flex flex-col justify-between">
          <div>
            <h2><%= repository.title %></h2>
            <p>Last synced at: <%= repository.synced_at ? repository.synced_at.strftime('%d.%m %H:%M') : 'no data' %></p>
            <p>PRs count - <%= repository.pull_requests.size %></p>
            <p>
              <%= link_to "Repository's external link", repository.link %>
            </p>
          </div>
          <% if allowed_to?(:update?, repository) %>
            <div class="insightable-actions">
              <%= link_to (repository.access_token ? 'Refresh access token' : 'Add access token'), new_access_token_path(tokenable_uuid: repository.uuid, tokenable_type: 'Repository'), class: 'button small' %>
              <%= button_to 'Destroy repository', repository_path(repository.uuid), class: 'button danger small', method: :delete, onclick: "return confirm('Are you sure you wish to delete repository?')" %>
            </div>
          <% end %>
        </div>
        <div class="list-element-insights">
          <%= render Views::Shared::InsightsComponent.new(insightable: repository) %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>
