<%= render PageWrappers::PageComponent.new do %>
  <h1>Repositories</h1>
  <section class="list">
    <% @repositories.each do |repository| %>
      <div class="list-element">
        <div class="list-element-header">
          <h2><%= repository.title %></h2>
          <p>PRs count - <%= repository.pull_requests.size %></p>
          <p>
            <%= link_to "Repository's external link", "https://github.com/#{repository.company.name}/#{repository.name}" %>
          </p>
        </div>
        <div class="list-element-insights">
          <%= render Views::Shared::InsightsComponent.new(insightable: repository) %>
        </div>
      </div>
    <% end %>
  </section>
<% end %>
