<%= render PageWrappers::PageComponent.new do %>
  <h1>New Repository</h1>
  <section class="list-form">
    <%= form_with model: @repository, url: repositories_path, method: :post do |form| %>
      <div class="form-field">
        <%= form.label :company_uuid, 'Company', class: 'form-label' %>
        <%= form.select :company_uuid, options_for_select(@companies), {}, { class: 'form-value' } %>
      </div>
      <div class="form-field">
        <%= form.label :title, 'Title', class: 'form-label' %>
        <%= form.text_field :title, required: true, placeholder: "Repository's title", class: 'form-value' %>
      </div>
      <div class="form-field">
        <%= form.label :name, 'Name', class: 'form-label' %>
        <%= form.text_field :name, required: true, placeholder: "Repository's name at Github", class: 'form-value' %>
      </div>
      <%= form.submit 'Create repository', class: 'button' %>
    <% end %>
  </section>
<% end %>
