<h2>Insights</h2>
<% if @insights.load.size.positive? %>
  <table class="table" cellSpacing="0">
    <thead>
      <tr>
        <th></th>
        <th>User</th>
        <% insight_fields.each do |insight_field| %>
          <th><%= Insight::SHORT_ATTRIBUTE_NAMES[insight_field.to_sym] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @insights.each do |insight| %>
        <tr>
          <td class="image">
            <%= link_to insight.entity.html_url, target: '_blank', rel: 'noopener noreferrer' do %>
              <%= image_tag insight.entity.avatar_url %>
            <% end %>
          </td>
          <td><%= insight.entity.login %></td>
          <% insight_fields.each do |insight_field| %>
            <td>
              <%= convert_insight_field(insight, insight_field.to_sym) %>
              <%= insight_ratio ? insight_ratio_value(insight, insight_field) : nil %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% if @access_token %>
    <p>There are no insights yet.</p>
  <% else %>
    <p>You need to add access token first.</p>
  <% end %>
<% end %>
