<h2>Insights</h2>
<% if @insights.load.size.positive? %>
  <table class="table" cellSpacing="0">
    <thead>
      <tr>
        <th></th>
        <th>User</th>
        <th>Open PRs</th>
        <th>Total comments</th>
        <th>Required reviews</th>
        <th>Total reviews</th>
        <th>Average review time</th>
      </tr>
    </thead>
    <tbody>
      <% @insights.each do |insight| %>
        <tr>
          <td class="image">
            <%= link_to insight.entity.html_url, target: '_blank' do %>
              <%= image_tag insight.entity.avatar_url %>
            <% end %>
          </td>
          <td><%= insight.entity.login %></td>
          <td><%= insight.open_pull_requests_count.to_i %></td>
          <td><%= insight.comments_count %></td>
          <td><%= insight.required_reviews_count.to_i %></td>
          <td><%= insight.reviews_count.to_i %></td>
          <td><%= convert_seconds(insight.average_review_seconds) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% if @access_token %>
    <p>There are no insights yet.</p>
  <% else %>
    <p>You need to add access token first.</p>
  <% end %>
<% end %>
