<h2>Insights</h2>
<% if visible_insights.size.positive? %>
  <table class="table" cellSpacing="0">
    <thead>
      <tr>
        <th></th>
        <th>User</th>
        <% insight_fields.each do |insight_field| %>
          <th><%= Insight::SHORT_ATTRIBUTE_NAMES[insight_field.to_sym] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% visible_insights.each do |insight| %>
        <tr>
          <%- render Views::Shared::InsightsEntityComponent.new(entity_id: insight.entity_id) %>

          <td class="image">
            <%= link_to insight.entity.html_url, target: '_blank', rel: 'noopener noreferrer' do %>
              <%= image_tag insight.entity.avatar_url %>
            <% end %>
          </td>
          <td><%= insight.entity.login %></td>
          <% insight_fields.each do |insight_field| %>
            <td>
              <%= render_insight_field(insight, insight_field) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <% if @access_token %>
    <p>There are no insights yet.</p>
  <% elsif @insightable.is_a?(Company) && @insightable.repositories_count.to_i.zero? %>
    <p>You need to create repository first at <%= link_to t('components.page_wrappers.page_component.repositories'), repositories_path %>.</p>
  <% else %>
    <p>You need to add access token first.</p>
  <% end %>
<% end %>
