<%= render PageWrappers::UserComponent.new do %>
  <div class="grid lg:grid-cols-2 gap-16">
    <div>
      <h1 class="mb-8">New feedback</h1>
      <p class="mb-4">You can directly send your question/feedback/bug report to <a href="mailto:kortirso@gmail.com" class="simple-link">email</a>, to <a href="https://t.me/kortirso" target="_blank" rel="noopener noreferrer" class='simple-link'>Telegram</a> or just leave here.</p>
      <section class="inline-block p-4 bg-white rounded w-full">
        <%= form_with model: @feedback, url: feedback_path, method: :post, class: 'form-block w-full' do |form| %>
          <div class="form-field w-full">
            <%= form.label :title, 'Title', class: 'form-label' %>
            <%= form.text_field :title, class: 'form-value w-full' %>
          </div>
          <div class="form-field w-full">
            <%= form.label :description, 'Description', class: 'form-label' %>
            <%= form.text_area :description, required: true, rows: 6, class: 'form-value w-full' %>
          </div>
          <%= form.submit 'Send feedback', class: 'btn-primary' %>
        <% end %>
      </section>
    </div>
    <div>
    </div>
  </div>
<% end %>
