<table class="table zebra w-full">
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th>Answerable</th>
      <th>Email</th>
      <th>Created</th>
      <th>User ID</th>
    </tr>
  </thead>
  <tbody>
    <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= feedback.id %></td>
        <td><%= feedback.title %></td>
        <td><%= feedback.description %></td>
        <td><%= feedback.answerable %></td>
        <td><%= feedback.email %></td>
        <td><%= feedback.created_at.strftime('%Y-%m-%d %H:%M') %></td>
        <td><%= feedback.user_id %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @pagy.pages > 1 %>
  <div class="mt-6"><%== pagy_nav(@pagy) %></div>
<% end %>
