<% cache(['shared_header_v1', current_user&.id], expires_in: 24.hours) do %>
  <header class="flex flex-col sm:flex-row justify-between sm:items-center p-8 border-b border-gray-200">
    <div class="mb-4 sm:mb-0">
      <%= link_to root_path, class: 'text-3xl font-normal tracking-tighter' do %>
        pull<span class="text-orange-400">keeper</span>
      <% end %>
    </div>
    <div class="flex flex-row flex-wrap sm:flex-nowrap mt-4 sm:mt-0">
      <% if current_user %>
        <%= link_to t('components.page_wrappers.page_component.companies'), companies_path, class: 'mr-8 mb-4 sm:mb-0' %>
        <%= link_to t('components.page_wrappers.page_component.repositories'), repositories_path, class: 'mr-8 mb-4 sm:mb-0' %>
        <%= link_to t('components.page_wrappers.page_component.achievements'), achievements_path, class: 'mr-8 mb-4 sm:mb-0' %>
        <%= link_to t('components.page_wrappers.page_component.profile'), profile_path, class: 'mr-8 mb-4 sm:mb-0' %>
        <%= link_to t('components.page_wrappers.page_component.logout'), logout_path, class: 'mr-8 mb-4 sm:mb-0' %>
      <% else %>
        <div class="flex">
          <span class="mr-4">Login with</span>
          <%= link_to image_tag('github.svg', width: 20, height: 20, alt: 'github'), omniauth_link(:github), 'aria-label': 'Login with Github', class: 'flex justify-center mr-4' %>
          <%= link_to image_tag('gitlab.svg', width: 20, height: 20, alt: 'gitlab'), omniauth_link(:gitlab), 'aria-label': 'Login with Gitlab', class: 'flex justify-center mr-4' %>
          <%= link_to image_tag('google.svg', width: 20, height: 20, alt: 'google'), omniauth_link(:google), 'aria-label': 'Login with Google', class: 'flex justify-center' %>
        </div>
      <% end %>
    </div>
  </header>
<% end %>
