<div class="py-6 px-8">
  <div class="grid lg:grid-cols-2 gap-8">
    <div>
      <% @identities.each do |identity| %>
        <div class="flex justify-between items-center py-1">
          <p>
            <%= identity[:provider].capitalize %> identity is created <%= identity[:created_at].strftime('%d.%m.%Y') %> at <%= identity[:created_at].strftime('%H:%M') %> UTC
          </p>
          <% if @identities.size > 1 %>
            <%= button_to 'X', identity_path(identity[:id]), class: 'btn-danger btn-xs', method: :delete %>
          <% end %>
        </div>
      <% end %>
      <% if @need_identities.present? %>
        <p class="mt-4 flex items-center">
          <span class="mr-4">Add more identities</span>
          <% @need_identities.each do |provider| %>
            <%= link_to image_tag("#{provider}.svg", width: 20, height: 20, alt: provider), omniauth_link(provider.to_sym), 'aria-label': "Login with #{provider.capitalize}", class: 'auth-icon mr-4' %>
          <% end %>
        </p>
      <% end %>
    </div>
    <div>
      <p>Here you can see your connected identities. You can add more or delete existing.</p>
    </div>
  </div>
</div>
