<div class="py-6 px-8">
  <div class="grid lg:grid-cols-2 gap-8">
    <div>
      <% if @end_time %>
        <p>Your premium subscription ends <%= @end_time.strftime('%Y.%m.%d') %> at <%= @end_time.strftime('%H:%M') %> UTC</p>
      <% else %>
        <p>You don't have active subscription.</p>
      <% end %>
    </div>
    <div>
      <p>Here you can see information about your active subscriptions.<%= @used_trial_subscription ? '' : " You can activate trial subscription for #{Subscription::TRIAL_PERIOD_DAYS} days without any credit card." %></p>
    </div>
  </div>
  <% unless @used_trial_subscription %>
    <%= button_to 'Activate trial subscription', subscriptions_trial_path, class: 'btn-primary btn-small mt-4' %>
  <% end %>

  <!-- DO NOT CHANGE ORDER_ID - IT CONTAINS UUID OF PAYING USER - WITHOUT IT SUBSCRIPTION WILL NOT BE CREATED -->
  <!-- DO NOT CHANGE CURRENCY AND AMOUNT - WITH INVALID DATA IN THESE FIELDS SUBSCRIPTION WILL NOT BE CREATED -->
  <div class="grid lg:grid-cols-2 gap-8 mt-8">
    <div id="crypto">
      <vue-widget
        shop_id="eRba0IjxBVaqvZUG"
        api_key="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1dWlkIjoiTVRnME5qTT0iLCJ0eXBlIjoicHJvamVjdCIsInYiOiIyOGEzYjIwNDc3MWY5MTA1YmJiYjZjMjI1NzVjYThiYTM3ZDM1NjJmYjAzNzdlYTAxNGE5NDdlZmFjM2U0Yzc2IiwiZXhwIjo4ODEwNTgzMDA2MH0.Z9ZOPkzYYJ7heK078a7CzXanyZy77CqXWr_j7uUBdig"
        background="#fff"
        color="#000"
        border_color="#000"
        logo="color"
        width="300px"
        currency="EUR"
        amount="10"
        text_btn="Pay for regular 30 days"
        order_id="<%= @cryptocloud_order_ids[:regular30] %>"
      ></vue-widget>
      <div class="my-2">
        <vue-widget
          shop_id="eRba0IjxBVaqvZUG"
          api_key="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1dWlkIjoiTVRnME5qTT0iLCJ0eXBlIjoicHJvamVjdCIsInYiOiIyOGEzYjIwNDc3MWY5MTA1YmJiYjZjMjI1NzVjYThiYTM3ZDM1NjJmYjAzNzdlYTAxNGE5NDdlZmFjM2U0Yzc2IiwiZXhwIjo4ODEwNTgzMDA2MH0.Z9ZOPkzYYJ7heK078a7CzXanyZy77CqXWr_j7uUBdig"
          background="#fff"
          color="#000"
          border_color="#000"
          logo="color"
          width="300px"
          currency="EUR"
          amount="100"
          text_btn="Pay for regular 365 days"
          order_id="<%= @cryptocloud_order_ids[:regular365] %>"
        ></vue-widget>
      </div>
      <vue-widget
        shop_id="eRba0IjxBVaqvZUG"
        api_key="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1dWlkIjoiTVRnME5qTT0iLCJ0eXBlIjoicHJvamVjdCIsInYiOiIyOGEzYjIwNDc3MWY5MTA1YmJiYjZjMjI1NzVjYThiYTM3ZDM1NjJmYjAzNzdlYTAxNGE5NDdlZmFjM2U0Yzc2IiwiZXhwIjo4ODEwNTgzMDA2MH0.Z9ZOPkzYYJ7heK078a7CzXanyZy77CqXWr_j7uUBdig"
        background="#fff"
        color="#000"
        border_color="#000"
        logo="color"
        width="300px"
        currency="EUR"
        amount="20"
        text_btn="Pay for unlimited 30 days"
        order_id="<%= @cryptocloud_order_ids[:unlimited30] %>"
      ></vue-widget>
      <div class="mt-2">
        <vue-widget
          shop_id="eRba0IjxBVaqvZUG"
          api_key="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1dWlkIjoiTVRnME5qTT0iLCJ0eXBlIjoicHJvamVjdCIsInYiOiIyOGEzYjIwNDc3MWY5MTA1YmJiYjZjMjI1NzVjYThiYTM3ZDM1NjJmYjAzNzdlYTAxNGE5NDdlZmFjM2U0Yzc2IiwiZXhwIjo4ODEwNTgzMDA2MH0.Z9ZOPkzYYJ7heK078a7CzXanyZy77CqXWr_j7uUBdig"
          background="#fff"
          color="#000"
          border_color="#000"
          logo="color"
          width="300px"
          currency="EUR"
          amount="200"
          text_btn="Pay for unlimited 365 days"
          order_id="<%= @cryptocloud_order_ids[:unlimited365] %>"
        ></vue-widget>
      </div>
    </div>
    <div>
      <p>Here you can pay for premium subscription with CryptoCloud service for 30 days (regular - 10 EURO, unlimited - 20 EURO) or 365 days (regular - 100 EURO, unlimited - 200 EURO) in crypto currency. Payment is non-refundable. If you have any questions about payment - please use feedback form.</p>
    </div>
  </div>
</div>
