<div class="py-6 px-8">
  <div class="grid lg:grid-cols-2 gap-8">
    <div>
      <% if @end_time %>
        <p>Your premium subscription ends <%= @end_time.strftime('%d.%m.%Y') %> at <%= @end_time.strftime('%H:%M') %> UTC</p>
      <% else %>
        <p>You don't have active subscription.</p>
      <% end %>
    </div>
    <div>
      <p>Here you can see information about your active subscriptions.<%= @used_trial_subscription ? '' : " You can activate trial subscription for #{Subscription::TRIAL_PERIOD_DAYS} days without any credit card." %></p>
    </div>
  </div>
  <% unless @used_trial_subscription %>
    <%= button_to 'Activate trial subscription', subscriptions_trial_path, class: 'btn-primary btn-small mt-4' %>
  <% end %>

  <div class="grid lg:grid-cols-2 gap-8 mt-8">
    <div id="crypto">
      <vue-widget
        shop_id="eRba0IjxBVaqvZUG"
        api_key="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1dWlkIjoiTVRnME5qTT0iLCJ0eXBlIjoicHJvamVjdCIsInYiOiIyOGEzYjIwNDc3MWY5MTA1YmJiYjZjMjI1NzVjYThiYTM3ZDM1NjJmYjAzNzdlYTAxNGE5NDdlZmFjM2U0Yzc2IiwiZXhwIjo4ODEwNTgzMDA2MH0.Z9ZOPkzYYJ7heK078a7CzXanyZy77CqXWr_j7uUBdig"
        background="#fff"
        color="#000"
        border_color="#000"
        logo="color"
        width="300px"
        currency="EUR"
        amount="10"
        text_btn="Pay for 30 days"
        order_id="<%= Current.user.uuid %>"
      ></vue-widget>
      <% if false %>
        <div class="mt-2">
          <vue-widget
            shop_id="eRba0IjxBVaqvZUG"
            api_key="eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJ1dWlkIjoiTVRnME5qTT0iLCJ0eXBlIjoicHJvamVjdCIsInYiOiIyOGEzYjIwNDc3MWY5MTA1YmJiYjZjMjI1NzVjYThiYTM3ZDM1NjJmYjAzNzdlYTAxNGE5NDdlZmFjM2U0Yzc2IiwiZXhwIjo4ODEwNTgzMDA2MH0.Z9ZOPkzYYJ7heK078a7CzXanyZy77CqXWr_j7uUBdig"
            background="#fff"
            color="#000"
            border_color="#000"
            logo="color"
            width="300px"
            currency="EUR"
            amount="100"
            text_btn="Pay for 365 days"
            order_id="<%= Current.user.uuid %>"
          ></vue-widget>
        </div>
      <% end %>
    </div>
    <div>
      <p>Here you can pay for premium subscription with CryptoCloud service for 30 days (10 EURO) in crypto currency.</p>
    </div>
  </div>
</div>
