<div class="py-6 px-8">
  <%= form_with model: Current.user, url: profile_path, method: :patch do |form| %>
    <div class="grid lg:grid-cols-2 gap-8">
      <div>
        <%=
          render Views::Shared::CheckBoxComponent.new(
            form: form,
            label: 'Use work time',
            field: :use_work_time,
            checked: Current.user.with_work_time?
          )
        %>
        <div class="flex flex-row mt-4">
          <div class="flex-1 form-field">
            <%= form.label :work_start_time, 'Work start time', class: 'form-label' %>
            <%= form.time_select :work_start_time, minute_step: 15 %>
          </div>
          <div class="flex-1 form-field">
            <%= form.label :work_end_time, 'Work end time', class: 'form-label' %>
            <%= form.time_select :work_end_time, minute_step: 15 %>
          </div>
          <div class="flex-1 form-field">
            <%= form.label :work_time_zone, 'Work time zone', class: 'form-label' %>
            <%= form.time_zone_select :work_time_zone, nil, default: 'UTC' %>
          </div>
        </div>
      </div>
      <div>
        <p>You can select your working time. This allows better calculations of average review time, because it will not count not-working time and weekends. Company can use it's own worktime configuration.</p>
      </div>
    </div>
    <div class="grid grid-cols-2 gap-8">
      <div>
        <%=
          render Views::Shared::CheckBoxComponent.new(
            form: form,
            label: 'Repository access error notifications',
            field: :access_error,
            checked: Current.user.notifications.access_error.first&.value
          )
        %>
      </div>
      <div>
        <p>You can select email notifications you would like to receive.</p>
      </div>
    </div>
    <%= form.submit 'Update user settings', class: 'btn-primary mt-4' %>
  <% end %>
</div>
