<%= render PageWrappers::PageComponent.new do %>
  <div class="list-title flex justify-between items-center">
    <h1>Profile <%= Current.user.uuid %></h1>
  </div>
  <section id="profile">
    <% if @end_time %>
      <div class="profile-block form-block">
        <h2>Premium details</h2>
        <p class="line-height">Your premium subscription ends at <%= @end_time %></p>
      </div>
    <% end %>
    <div class="profile-block form-block">
      <div class="with-action flex justify-between items-center">
        <h2>Vacations</h2>
        <%= link_to 'Add vacation time', new_vacation_path, class: 'button' %>
      </div>
      <div class="main-container">
        <div id="vacations-list" class="half-container">
          <% if @vacations.load.blank? %>
            <p class="line-height">You didn't specify any vacations yet.</p>
          <% else %>
            <% @vacations.each do |vacation| %>
              <div class="vacation flex justify-between items-center">
                <p><%= vacation.start_time.strftime('%Y-%m-%d') %> - <%= vacation.end_time.strftime('%Y-%m-%d') %></p>
                <%= button_to 'X', vacation_path(vacation), class: 'button small danger', method: :delete %>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="half-container">
          <p class="line-height">Here you can specify your vacations, and for any of your company this time will be reduced from time spending for reviews for better calculating average times.</p>
        </div>
      </div>
    </div>
    <div class="profile-block form-block">
      <%= form_with model: Current.user, url: profile_path, method: :patch do |form| %>
        <h2>Work time</h2>
        <div class="main-container">
          <div class="half-container">
            <%= form.label :use_work_time, 'Use work time', class: 'form-label' %>
            <%= form.check_box :use_work_time, checked: Current.user.with_work_time? %>
            <div id="work-times">
              <div class="flex flex-row">
                <div class="flex-1 form-field">
                  <%= form.label :work_start_time, 'Work start time', class: 'form-label' %>
                  <%= form.time_select :work_start_time, class: 'form-value', minute_step: 15 %>
                </div>
                <div class="flex-1 form-field">
                  <%= form.label :work_end_time, 'Work end time', class: 'form-label' %>
                  <%= form.time_select :work_end_time, class: 'form-value', minute_step: 15 %>
                </div>
                <div class="flex-1 form-field">
                  <%= form.label :work_time_zone, 'Work time zone', class: 'form-label' %>
                  <%= form.time_zone_select :work_time_zone, nil, class: 'form-value', default: 'UTC' %>
                </div>
              </div>
            </div>
          </div>
          <div class="half-container">
            <p class="line-height">You can select your working time. This allows better calculations of average review time, because it will not count not-working time and weekends. Company can use it's own worktime configuration.</p>
          </div>
        </div>
        <%= form.submit 'Update user data', class: 'button' %>
      <% end %>
    </div>
    <div class="profile-block form-block">
      <h2 class="warning">Delete account</h2>
      <p class="line-height">You can delete your account. This is an irreversible action. All your identities, companies, repositories, access tokens and statistics will be destroyed with no chance of recovery.</p>
      <%= button_to 'Delete account', profile_path, class: 'button danger', method: :delete, onclick: "return confirm('Are you sure you wish to delete account?')" %>
    </div>
  </section>
<% end %>
