<div class="page-container">
  <%= render PageWrappers::NavigationComponent.new %>
  <div class="page-content welcome-page">
    <section id="welcome-box" class="global-container main-container">
      <div class="half-container flex flex-col justify-center">
        <h1>Pull requests relevant statistic</h1>
        <p>Open source. Monitor pull requests for your repositories and get relevant statistics for reviewing and commenting on pull requests.</p>
        <% unless Current.user %>
          <p>
            <%= link_to 'Login with Github', omniauth_link(:github), class: 'button small' %>
          </p>
        <% end %>
      </div>
      <div class="half-container">
        <%= image_tag 'screenshot.webp', width: 616, height: 223, alt: 'interface-example' %>
      </div>
    </section>
    <section id="benefits-box">
      <h2>What features you get from the PullKeeper</h2>
      <div id="benefits-list">
        <div>
          <h3>Reviewer statistics</h3>
          <p>Calculated the up-to-date reviewer statistics (reviews, comments, average review time) separately for each repository and for the whole company</p>
        </div>
        <div>
          <h3>Customize calculations</h3>
          <p>Customizable calculations of review time: there are several configurations for calculating the average time for more accurate and believable results</p>
        </div>
        <div>
          <h3>Comparing data</h3>
          <p>Compareable data with previous periods for better understanding development changes</p>
        </div>
        <div>
          <h3>Exclude vacations</h3>
          <p>Considering vacation time of developers and working time of companies for better calculating average time of reviews and merges</p>
        </div>
        <div>
          <h3>Github and Gitlab API</h3>
          <p>Pull requests, reviewers, and comments data are collected with <a href="https://docs.github.com/en/rest?apiVersion=2022-11-28" target="_blank" rel="noopener noreferrer">Github</a> and <a href="https://docs.gitlab.com/ee/api/rest/" target="_blank" rel="noopener noreferrer">Gitlab API</a></p>
        </div>
        <div>
          <h3>Achievements system</h3>
          <p>PullKeeper has achievements system for representing and comparing developer success</p>
        </div>
      </div>
    </section>
    <section id="slack-box" class="global-container main-container">
      <div class="half-container">
        <%= image_tag 'insights.webp', width: 616, height: 223, alt: 'interface-example' %>
      </div>
      <div class="half-container flex flex-col justify-center">
        <h2>Slack integration</h2>
        <p>Receive notifications to Slack with latest insights of your companies and repositories.</p>
      </div>
    </section>
  </div>
  <%= render 'shared/footer' %>
</div>
