<%= render PageWrappers::GuestComponent.new do %>
  <section class="grid grid-cols-1 xl:grid-cols-2 gap-8 mx-auto mt-16 mb-8 xl:my-24">
    <div class="flex-1 flex flex-col justify-center">
      <h1 class="text-center lg:text-left">PullKeeper is open source pull requests analyzer</h1>
      <p class="text-lg leading-8 mb-4 text-center lg:text-left">Monitor pull requests for your repositories and get relevant statistics for reviewing and commenting on pull requests. Inspire developers to self-optimize and highlight their achievements and successes.</p>
      <% unless Current.user %>
        <div class="flex justify-center xl:justify-start">
          <%= link_to 'Login with Github', omniauth_link(:github), class: 'btn-primary btn-small mr-4' %>
          <%= link_to 'Login with Gitlab', omniauth_link(:gitlab), class: 'btn-primary btn-small' %>
        </div>
      <% end %>
    </div>
    <div class="flex-1 flex justify-center">
      <%= image_tag 'screenshot.webp', width: 616, height: 355, alt: 'interface-example', class: 'rounded' %>
    </div>
  </section>
  <section class="mx-auto my-8 xl:my-24">
    <h1 class="text-center mb-12">PullKeeper features</h1>
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3">
      <div class="benefits-box">
        <h3 class="benefits-title">Reviewer statistics</h3>
        <p class="benefits-text">Calculated the up-to-date reviewer statistics (reviews, comments, average review time and more) separately for each repository and for the whole company, and repository statistics</p>
      </div>
      <div class="benefits-box">
        <h3 class="benefits-title">Customizable calculations</h3>
        <p class="benefits-text">Customizable calculations of review time: there are several configurations for calculating the average time for more accurate and believable results</p>
      </div>
      <div class="benefits-box">
        <h3 class="benefits-title">Exclude rules</h3>
        <p class="benefits-text">Considering vacation time of developers and working time of companies for better calculating average time of reviews and merges, exclude rules for pull requests to avoid double counting</p>
      </div>
      <div class="benefits-box">
        <h3 class="benefits-title">Comparing data</h3>
        <p class="benefits-text">Compareable data with previous periods for better understanding development improvements</p>
      </div>
      <div class="benefits-box">
        <h3 class="benefits-title">Github and Gitlab API</h3>
        <p class="benefits-text">Pull requests, reviewers, and comments data are collected with <a href="https://docs.github.com/en/rest?apiVersion=2022-11-28" target="_blank" rel="noopener noreferrer" class="simple-link">Github</a> and <a href="https://docs.gitlab.com/ee/api/rest/" target="_blank" rel="noopener noreferrer" class="simple-link">Gitlab API</a></p>
      </div>
      <div class="benefits-box">
        <h3 class="benefits-title">Achievements system</h3>
        <p class="benefits-text">PullKeeper has achievements system for representing and comparing developer success</p>
      </div>
    </div>
  </section>
  <section class="flex flex-col-reverse lg:flex-row mx-auto mt-8 mb-16 xl:my-24">
    <div class="flex-1 flex justify-center">
      <%= image_tag 'insights.webp', width: 616, height: 223, alt: 'interface-example' %>
    </div>
    <div class="flex-1 flex flex-col justify-center">
      <h2 class="text-center lg:text-left">Slack and Discord integration</h2>
      <p class="text-lg leading-8 mb-8 lg-mb-0 text-center lg:text-left">Receive notifications to Slack and/or Discord with latest insights of your companies and repositories.</p>
    </div>
  </section>
<% end %>
