<%= render PageWrappers::UserComponent.new(current_user: current_user, meta_title: 'PullKeeper | Companies') do %>
  <section class="min-h-full p-8 lg:p-12 relative">
    <div class="flex justify-between items-center mb-8">
      <h1 class="m-0">Companies</h1>
      <% if @companies.any? { |company| company.user_id == current_user.id } %>
        <%=
          js_component 'CompanyNewModal',
            accounts_for_companies: @accounts_for_companies,
            account_uuid: current_user.uuid
        %>
      <% else %>
        <%=
          js_component 'Wizard',
            accounts_for_companies: @accounts_for_companies,
            account_uuid: current_user.uuid,
            providers: Repository::LINK_FORMAT_BY_PROVIDER.keys.map { |key, _| [key, key.capitalize] }.to_h
        %>
      <% end %>
    </div>
    <% if @companies.any? { |company| company.user_id == current_user.id && !company.accessable } %>
      <div class="badge mb-4 p-4">
        <p>One of your company has access error because of invalid access token permissions.</p>
        <p>To fix it you need to create new access token at Github/Gitlab and then refresh it here.</p>
        <p>But remember that you need to include required repositories to access token settings and approve token by repository owner.</p>
      </div>
    <% end %>
    <% if @companies.empty? %>
      <div class="absolute top-40 right-36 hidden sm:flex items-end">
        <p class="mr-12 text-lg text-middle-gray font-medium">Create new company</p>
        <%= image_tag 'icons/create_sign.svg', class: 'pb-4' %>
      </div>
    <% end %>
    <section>
      <% @companies.each do |company| %>
        <%=
          js_component 'Company',
            uuid: company.uuid,
            title: company.title,
            repositories_count: company.repositories.size,
            repositories_url: company_repositories_path(company_id: company.uuid),
            unaccessable: !company.accessable,
            is_private: !!company.current_config.private,
            main_attribute: company.current_config.main_attribute,
            edit_links: allowed_to?(:update?, company) ? {
              need_access_token: !company.all_access_tokens.exists?,
              configuration: edit_company_configuration_path(company.uuid),
              destroy: company_path(company.uuid)
            } : nil
        %>
      <% end %>
      <% if @pagy.pages > 1 %>
        <div><%== pagy_nav(@pagy) %></div>
      <% end %>
    </section>
  </section>
<% end %>
