<div class="flex flex-col flex-1 h-screen overflow-x-hidden">
  <%= render 'web/shared/header' %>
  <div class="flex flex-col flex-1 w-full max-w-8xl mx-auto px-8 xl:px-0">
    <% cache(['welcome_page_top_v1', current_user&.id], expires_in: 24.hours) do %>
      <section class="grid grid-cols-1 xl:grid-cols-2 gap-8 mx-auto mt-16 mb-8 xl:mt-24 xl:mb-20">
        <div class="flex flex-col justify-center">
          <h1 class="text-center lg:text-left">Get the PR statistics you always needed</h1>
          <p class="text-lg leading-8 mb-4 text-center lg:text-left">Monitor pull requests for your repositories and get relevant statistics for reviewing and commenting on pull requests. Inspire developers to self-optimize and highlight their achievements and successes.</p>
          <% unless current_user %>
            <div class="flex flex-col sm:flex-row justify-center xl:justify-start">
              <%= link_to 'Login with Github', omniauth_link(:github), class: 'btn-primary btn-small text-center sm:mr-4 mb-4 sm:mb-0' %>
              <%= link_to 'Login with Gitlab', omniauth_link(:gitlab), class: 'btn-primary btn-small text-center sm:mr-4 mb-4 sm:mb-0' %>
              <%= link_to 'Login with Google', omniauth_link(:google), class: 'btn-primary btn-small text-center ' %>
            </div>
          <% end %>
        </div>
        <div class="flex justify-center">
          <div class="welcome-image">
            <%= image_tag 'screenshot.webp', width: 616, height: 355, alt: 'interface-example' %>
          </div>
        </div>
      </section>
      <section class="mx-auto my-8">
        <h2 class="text-center text-4xl mb-12">PullKeeper features</h2>
        <div class="grid grid-cols-1 md:grid-cols-2">
          

          <div class="benefits-box">
            <h3 class="benefits-title">Exclude rules</h3>
            <p class="benefits-text">Considering vacation time of developers and working time of companies for better calculating average time of reviews and merges, use exclude rules for pull requests to avoid double code counting</p>
          </div>
          <div class="benefits-box">
            <h3 class="benefits-title">Comparing data</h3>
            <p class="benefits-text">Compareable data with previous periods for better understanding development improvements and progress/regress of coding</p>
          </div>
          <div class="benefits-box">
            <h3 class="benefits-title">Massenger notifications</h3>
            <p class="benefits-text">Receive notifications to Slack/Discord/Telegram with latest insights of your companies and repositories, or send data to custom url, or fetch data by <a href="https://pullkeeper.dev/api-docs" target="_blank" rel="noopener noreferrer" class="simple-link">API</a></p>
          </div>
          <div class="benefits-box">
            <h3 class="benefits-title">Github and Gitlab API</h3>
            <p class="benefits-text">Pull requests, reviewers, and comments data are collected with <a href="https://docs.github.com/en/rest?apiVersion=2022-11-28" target="_blank" rel="noopener noreferrer" class="simple-link">Github</a> and <a href="https://docs.gitlab.com/ee/api/rest/" target="_blank" rel="noopener noreferrer" class="simple-link">Gitlab API</a></p>
          </div>
          <div class="benefits-box">
            <h3 class="benefits-title">Achievements system</h3>
            <p class="benefits-text">PullKeeper has achievements system for representing and comparing developer success</p>
          </div>
        </div>
      </section>
      <section class="mx-auto mb-24">
        <h2 class="text-center text-4xl mb-12">Open Source</h2>
        <p class="mb-4">
          <iframe
            src="https://ghbtns.com/github-btn.html?user=kortirso&repo=pullmetry&type=star&count=true&size=large"
            frameborder="0"
            scrolling="0"
            width="170"
            height="30"
            title="GitHub"
            class="mx-auto pl-10"
          ></iframe>
        </p>
        
      </section>
    <% end %>
    <% unless cookies[:pullmetry_subscriber_email] %>
      <div class="flex justify-center items-center mb-24">
        <div class="p-8 border border-stone-200 rounded flex flex-col items-center">
          <h2>Join newslist</h2>
          <p class="mb-4">Receive latest project news about releases and new features.</p>
          <%= form_with model: Subscriber.new, url: subscribers_path, method: :post, class: 'form-block' do |form| %>
            <div class="flex flex-row gap-4 mb-8">
              <div class="form-field m-0">
                <%= form.text_field :email, required: true, placeholder: 'Email', class: 'form-value', data: { 'test-id' => 'join-newslist-email-value' } %>
              </div>
              <%= form.submit 'Join', class: 'btn-primary btn-small', data: { 'test-id' => 'join-newslist-link' } %>
            </div>
            <div class="form-field m-0">
              <%= recaptcha_tags %>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
      
      <section class="mx-auto mb-24 w-full max-w-4xl">
        <h2 class="text-center text-4xl mb-12">Used by</h2>
        <div class="flex flex-row items-center justify-between flex-wrap w-full">
          <a href="https://sputnik8.com" class="client-image" target="_blank" rel="noopener noreferrer">
            <%= image_tag 'clients/sputnik.webp', width: 210, height: 70, alt: 'sputnik' %>
          </a>
          <a href="https://tech.upshift.work" class="client-image" target="_blank" rel="noopener noreferrer">
            <%= image_tag 'clients/upshift.webp', width: 210, height: 70, alt: 'upshift' %>
          </a>
          <a href="https://slicelife.com" class="client-image" target="_blank" rel="noopener noreferrer">
            <%= image_tag 'clients/slice.webp', width: 210, height: 70, alt: 'slice' %>
          </a>
        </div>
      </section>
    <% end %>
  </div>
  <%= render 'web/shared/footer' %>
</div>
