<%= render PageWrappers::UserComponent.new do %>
  <h1>New vacation</h1>
  <section class="list-form">
    <%= form_with model: @vacation, url: vacations_path, method: :post, class: 'form-block' do |form| %>
      <div class="form-field">
        <%= form.label :start_time, 'Start time', class: 'form-label' %>
        <%= form.date_select :start_time, class: 'form-value' %>
      </div>
      <div class="form-field">
        <%= form.label :end_time, 'End time', class: 'form-label' %>
        <%= form.date_select :end_time, class: 'form-value' %>
      </div>
      <%= form.submit 'Create vacation', class: 'button' %>
    <% end %>
  </section>
<% end %>
