<table class="table zebra w-full">
  <thead>
    <tr>
      <th>ID</th>
      <th>Private</th>
      <th>Start time</th>
      <th>End time</th>
      <th>Timezone</th>
      <th>Ignore users</th>
      <th>Fetch period</th>
      <th>Main</th>
      <th>Average</th>
      <th>Ratio?</th>
      <th>Ratio type</th>
      <th>Premium?</th>
    </tr>
  </thead>
  <tbody>
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.id %></td>
        <td><%= company.config.private %></td>
        <td><%= company.work_time&.starts_at %></td>
        <td><%= company.work_time&.ends_at %></td>
        <td><%= company.work_time&.timezone %></td>
        <td><%= company.config.ignore_users_work_time %></td>
        <td><%= company.config.fetch_period %></td>
        <td><%= company.config.main_attribute %></td>
        <td><%= company.config.average_type %></td>
        <td><%= company.config.insight_ratio %></td>
        <td><%= company.config.insight_ratio_type %></td>
        <td><%= company.user.premium? %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<% if @pagy.pages > 1 %>
  <div class="mt-6"><%== pagy_nav(@pagy) %></div>
<% end %>
