<header id="page-navigation">
  <div>
    <%= link_to 'PullKeeper', root_path %>
    <% if Current.user %>
      <%= link_to t('components.page_wrappers.page_component.companies'), companies_path %>
      <%= link_to t('components.page_wrappers.page_component.repositories'), repositories_path %>
    <% end %>
  </div>
  <div>
    <% if Current.user %>
      <%= link_to t('components.page_wrappers.users_component.logout'), logout_path %>
    <% else %>
      <p id="auth-links">
        <span>Login with</span>
        <%= link_to image_tag('github.svg', width: 20, height: 20), "https://github.com/login/oauth/authorize?client_id=#{Rails.application.credentials.dig(:github_oauth, :production, :client_id)}" %>
      </p>
    <% end %>
  </div>
</header>
