<header id="page-navigation">
  <div>
    <%= link_to t('components.page_wrappers.page_component.home'), root_path %>
    <% if Current.user %>
      <%= link_to t('components.page_wrappers.page_component.companies'), companies_path %>
      <%= link_to t('components.page_wrappers.page_component.repositories'), repositories_path %>
    <% end %>
  </div>
  <div>
    <% if Current.user %>
      <%= link_to t('components.page_wrappers.users_component.logout'), logout_path %>
    <% else %>
      <%= link_to 'Github', "https://github.com/login/oauth/authorize?client_id=#{Rails.application.credentials.dig(:github_oauth, :development, :client_id)}" %>
    <% end %>
  </div>
</header>
