<div class="flex flex-col lg:flex-row flex-1 max-h-screen">
  <nav class="sidebar">
    <section class="flex flex-row justify-between">
      <%= link_to root_path, class: 'header-logo' do %>
        <span class="text-white">pull<span class="text-yellow-orange">keeper</span></span>
      <% end %>
      <div class="lg:hidden flex items-center">
        <button type="button" class="mobile-menu-button">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#fff" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25H12" />
          </svg>
        </button>
      </div>
    </section>
    <section class="navigation-menu hidden lg:flex flex-col">
      <% if current_user %>
        <%= link_to companies_path, class: "user-navigation-link #{'active' if current_page?(companies_path)}" do %>
          <span><%= embedded_svg('icons/sidebar/apartment.svg') %></span>
          <span><%= t('components.page_wrappers.page_component.companies') %></span>
        <% end %>
        <%= link_to repositories_path, class: "user-navigation-link #{'active' if current_page?(repositories_path)}" do %>
          <span><%= embedded_svg('icons/sidebar/lab_profile.svg') %></span>
          <span><%= t('components.page_wrappers.page_component.repositories') %></span>
        <% end %>
        <%= link_to achievements_path, class: "user-navigation-link #{'active' if current_page?(achievements_path)}" do %>
          <span><%= embedded_svg('icons/sidebar/trophy.svg') %></span>
          <span><%= t('components.page_wrappers.page_component.achievements') %></span>
        <% end %>
        <%= link_to profile_path, class: "user-navigation-link #{'active' if current_page?(profile_path)}" do %>
          <span><%= embedded_svg('icons/sidebar/account_circle.svg') %></span>
          <span><%= t('components.page_wrappers.page_component.profile') %></span>
        <% end %>
        <%= js_component 'FeedbackForm', email: current_user.email, svg: embedded_svg('icons/sidebar/forum.svg'), class_list: 'user-navigation-link' %>
      <% end %>
      <%= link_to metrics_path, class: "user-navigation-link #{'active' if current_page?(metrics_path)}" do %>
        <span><%= embedded_svg('icons/sidebar/bar_chart.svg') %></span>
        <span>Metrics</span>
      <% end %>
      <%= link_to privacy_path, class: "user-navigation-link #{'active' if current_page?(privacy_path)}" do %>
        <span><%= embedded_svg('icons/sidebar/security.svg') %></span>
        <span>Privacy policy</span>
      <% end %>
      <a href="/api-docs" rel="noopener noreferrer" class="user-navigation-link">
        <span><%= embedded_svg('icons/sidebar/folder.svg') %></span>
        <span>API docs</span>
      </a>
      <% if current_user %>
        <%= link_to logout_path, class: 'user-navigation-link' do %>
          <span><%= embedded_svg('icons/sidebar/move_item.svg') %></span>
          <span><%= t('components.page_wrappers.page_component.logout') %></span>
        <% end %>
      <% end %>
    </section>
  </nav>
  <div class="flex-1 overflow-y-scroll bg-cultured">
    <%= content %>
  </div>
</div>
