<%= render PageWrappers::PageComponent.new do %>
  <div class="list-title flex justify-between items-center">
    <h1>Achievements</h1>
  </div>
  <section id="achievements" class="form-block">
    <% if @achievements.size.positive? %>
      <% @achievements.each do |achievement| %>
        <div class="achievement">
          <div class="achievement-name">
            <p><%= achievement.title['en'] %></p>
            <span class="achievement-earned">
              <%= achievement.updated_at.strftime('%Y-%m-%d %H:%M') %>
            </span>
          </div>
          <div class="achievement-description">
            <%= achievement.description['en'] %>
          </div>
          <div class="achievement-icon"></div>
          <div class="achievement-points">
            <%= achievement.points %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>You don't have any achievements yet.</p>
    <% end %>
  </section>
<% end %>
