<!DOCTYPE html>
<html lang="en" class="text-sm font-light m-0 p-0 min-h-screen">
  <head>
    <title>PullKeeper | Open source pull requests analyzer</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Keywords" content="pull requests, insights, review, comments, average review time, repository, github, gitlab, statistics, analyzer">
    <meta name="Description" content="PullKeeper - Monitor pull requests for your repositories and get relevant statistics for review time and commenting on pull requests, get summary statistics for whole company, share statistics with your team">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'tailwind', 'inter-font' %>
    <%= stylesheet_link_tag 'application' %>
    <%= javascript_include_tag 'application' %>
  </head>
  <body class="relative flex flex-col m-0 p-0 min-h-screen">
    <%= react_component 'Flash', values: flash.to_h %>
    <%= yield %>
    <div id="modal-root"></div>
  </body>
</html>
