<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Pull requests statistics, review time | PullKeeper</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="Keywords" content="pull requests, review, comments, average review time, repository, github, statistics">
    <meta name="Description" content="PullKeeper - Monitor pull requests for your repositories and get relevant statistics for review time and commenting on pull requests, get summary statistics for whole company, share statistics with your team">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application' %>
  </head>
  <body>
    <%= render Views::Shared::FlashComponent.new %>
    <%= yield %>
  </body>
</html>
